*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', 'sans-serif';
}

.secao-topo{
    width: 100%;
    height: 220px;
    margin:auto 0px;
    border: 2px solid #446;
    background-color: #fff;
    text-align: center;
    position:relative;
    box-sizing: border-box;
}

.imagem-logo{
    width: 80px;
    height:80px;
    position:absolute;
    top:30px;
    left:0;
}

.subcontainer-logo{
    width:24%;
    height: 160px;
    box-sizing:box-border;
    position: relative;
    top:25px;
    left:230px;
}

.subcontainer-logo h1{
    font-size:30px;
    position: absolute;
    top:40px;
    left:90px;
}

.subcontainer-logo p{
    color:#2f86d6;
    font-size:18px;
    font-weight:bold;
    position:absolute;
    top:80px;
    left: 80px;
}

.links-principais{
    width:35%;
    height:40px;
    text-align:center;
    position: absolute;
    right:100px;
    bottom:100px;
}


.links-principais a{
    font-size:20px;
    margin:20px 10px auto 10px ;
    text-decoration: none;
    color: #233032;
    font-weight: 600;
}

.secao-banner{
    border: 1px solid;
    width:100%;
    height:105vh;
    background-color:#2f86d6;
    padding:120px 0px;
    position:relative;
    box-sizing: border-box;
}

.container-banner{
    width:34%;
    height:380px;
    margin:0px auto auto 85px;
    padding:40px 0px;
    position:absolute;
    left: 150px;
    top: 200px;
}

.container-banner p{
    color:#fff;
    font-size:16px;
    margin:25px 10px;
}

.container-banner h1{
    color:#fff;
    margin-left:10px;
}

.segundo-paragrafo{
    line-height:32px;
}

.imagem-banner{
    width:530px;
    position: absolute;
    right:200px;
    top:200px;
}

.secao-anuncio{
    border:1px solid;
    width:100%;
    height:150px;
    background-color:#233032;
    padding:30px 70px;
    position:relative;
    box-sizing: border-box;
}

.secao-anuncio button{
    height:70px;
    width:220px;
    font-size:18px;
    font-weight:bold;
    color: #fff;
    background-color:#2f86d6;
    border-radius: 10px;
    border:0;
    padding: auto 0px;
    position: absolute;
    right:350px;
    bottom: 50px;
}

.secao-anuncio img {
    margin-right: 8px;
}

.secao-anuncio h2, .secao-anuncio p{
    color: #fff;
    margin:8px 40px;
}

.secao-informaçoes{
    border: 2px solid #000;
    width:100%;
    height:750px;
    background-color:#fff;
    position: relative;
    box-sizing:border-box;
}

.secao-informaçoes img{
    height:160px;
    width: 160px;
    position:absolute;
    left:140px;
    top:10px;
}

.secao-informaçoes h2{
    font-size:34px;
    text-align: center;
    position:absolute;
    right: 320px;
    top:50px;
}

.secao-informaçoes span{
    color:#2f86d6;
}

.container-info{
    width: 490px;
    height: 300px;
    position: relative;
}

.container-info-um{
    position:absolute;
    left:20px;
    top:250px;
}

.container-info-dois{
    position:absolute;
    right:520px;
    top:250px;
}

 .container-info-tres{
    position:absolute;
    right:20px;
    top:250px;
 }

 .container-info h3{
    font-size:24px;
    text-align: center;
    position:absolute;
    left:130px;
    top:190px;
    
 }

 .container-info p{
    margin:auto 20px 5px;
    font-size:16px;
    text-align:center;
    position:absolute;
    bottom:0;
 }

 .secao-tabela{
    border:2px solid #000;
    background-color: #f1f3f7;
    width:100%;
    height:130vh;
    position:relative;
 }

 .secao-tabela img{
    width:100px;
    height:100px;
 }

 .secao-tabela table{
    height:550px;
    border:1px solid #fff;
    position:absolute;
    bottom: 150px;
    left: 220px;
    box-shadow: 0px 0px 50px 22px rgba(47, 134, 214, 4) ;
 }

 .secao-tabela table td{
    border: 1px solid #1b9999a1;
    padding:20px;
    text-align:center;
 }

.linha{
    background-color:#ba0c3d72;
 }

 .secao-tabela h2{
    text-align:center;
    font-size:32px;
    position:absolute;
    left: 230px;
    top:50px;
 }

 .secao-tabela span{
    color:#2f86d6;
 }

 .secao-tabela th h3{
    color:#349;
    font-size:22px;
    border: 1px solid #f1f3f8;
    position:absolute;
    top:20px;
    left:80px;
 }

 .cabeçalho h4{
    color:#a89f9f;
    font-size:16px;
 }

 .cabeçalho{
    border:1px solid #dae0eb;
    margin:auto 0px;
    width:280px;
    height:300px;
    position:relative;
 }

 .secao-anuncio-bis{
    width:100%;
    height:150px;
    box-sizing:boder-box;
    border: 1px solid #fff;
    margin:auto 0px;
    background-color:#2f86d6;
    position:relative;
 }

 .secao-anuncio-bis h2{
    font-size:26px;
    color:#fff;
    margin: 30px 100px;
 }

 .secao-anuncio-bis button{
    border:0;
    width:220px;
    height: 70px;
    padding:10px;
    font-size:18px;
    font-weight:bold;
    border-radius:10px;
    background-color:#233032;
    color:#fff;
    position:absolute;
    right:350px;
    top:30px;
 }

.primeiro-rodape{
    width:100%;
    height:420px;
    background-color:#f6f6f6;
    text-align: center;
    border:1px solid #f6f6f6;
    margin: 0px;
    position:relative;
}

.primeiro-rodape img{
    width:100px;
    height:100px;
    margin:20px auto;
    position:absolute;
    left:10px;
    top:30px;
}

.subcontainer-logo-rodape{
    width:30%;
    height:150px;
    position:relative;
    margin: 10px auto;
    position:absolute;
    top:0;
    left:560px;
}

.subcontainer-logo-rodape h2{
    font-size:32px;
    position:absolute;
    top:50px;
    left:120px
}

.subcontainer-logo-rodape h3{
    font-size:18px;
    color: #2f86d6;
    position:absolute;
    top:100px;
    left:120px;
}

.contato-rodape{
    width:60%;
    height:190px;
    margin:20px auto;
    padding: 10px;
    box-sizing:border-box;
    position:absolute;
    left:300px;
    bottom:0;
}

.contato-rodape p{
    margin:14px auto;
    color: #233032;
    font-weight: 600;
}

.copyright-um{
    background-color:#f1f3f7;
    text-align:center;
    border: 1px solid #fff;
    margin: auto;
    width:100%;
    height:80px;
}

.copyright-um p{
    margin:20px auto;
    font-weight:600;
}

.span-destaque{
    color:#2f86d6;
    font-weight:bold;
}

.span-copy{
    color:#006702;
    font-weight: bold;
}

.logo-preço{
    width:100%;
    height:180px;
    margin: auto;
    background-color:#2f86d6;
    border: 2px solid #000;
    text-align: center;
    box-sizing:border-box;
    position: relative;
}

.subcontainer-icone img{
    width:90px;
    height:90px;
    position:absolute;
    left:5px;
    top:30px;
}

.subcontainer-icone h2{
    font-size:30px;
    position:absolute;
    top:30px;
    left:110px;
}

.subcontainer-icone{
    width:24%;
    height:140px;
    position: absolute;
    left:220px;
    top:20px;
}

.subcontainer-icone h3{
    color: #fff;
    font-size:18px;
    position:absolute;
    top:80px;
    left: 100px;
}

.logo-preço nav{
    width:32%;
    height:50px;
    position:absolute;
    right:150px;
    top:70px;
}

.logo-preço nav a{
    padding:15px 10px;
    font-size:18px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
}

.tabela-preço{
   width:100%;
   height:900px;
   background-color:#fff;
   margin:auto 0px;
   position:relative;
   box-sizing: border-box;
}

.tabela-preço table{
   border: 1px solid #fff;
   position:absolute;
   text-align: center;
   left:250px;
   top:50px;
   height:700px;
   width:1100px;
   padding:5px;
}

.tabela-preço table td{
    border:1px solid #f6f6f6;
}

.linha-head{
    border: 1px solid #fff;
    background-color:#f1f3f7;
    padding:10px;
    width:200px;
}

.linha-head p{
    color:#a89f9f;
    font-size:12px;
}

.linha-head h2{
    font-size:28px;
}

.linha-body{
    background-color:#f1f3f7;
    font-weight:600;
    font-size:16px;
    padding:10px;
}

.bolinha-azul{
    list-style-type: disc;
    width: 20px; 
    height: 20px; 
    margin: auto; 
    background-color: #2f86d6; 
    border-radius: 100px; 
 }  


.secao-ultimo-rodape{
    width:100%;
    height:320px;
    border:1px solid #339;
    background-color:#2f86d6;
    position:relative;
    box-sizing: border-box;
}

.segundo-rodape img{
   width:100px;
   height:100px;
   position:absolute;
   left: 10px;
   top:40px;
}

.segundo-rodape h2{
    position:absolute;
    top:50px;
    left:120px;
    font-size:32px;
}

.segundo-rodape h3{
    color:#fff;
    position: absolute;
    top:100px;
    left:120px;
}

.segundo-rodape{
    
    width:26%;
    height:150px;
    position:absolute;
    left:550px;
    top:30px;
    position:relative;
}

.secao-ultimo-rodape p{
    font-size:18px;
    color:#fff;
    position:absolute;
    bottom:80px;
    left:420px;
    font-weight:600;
}

.rodape-inferior{
    width:100%;
    height:80px;
    text-align:center;
    margin:0px auto;
    border:1px solid #fff;
    background-color:#dae0eb;
    box-sizing: border-box;
}

.rodape-inferior p{
    font-weight:600;
    margin:30px auto;

}

